<h1>Estos son los libros favoritos de la gente!</h1>

<tbody>
    {% if object_list %}
    {% for Libros in object_list %}

        <p> El nombre es {{Libros.nombre}}, cuyo autor es {{Libros.autor}} con género {{Libros.genero}}.</p>
        
        {% if request.user == post.owner or request.user.is_superuser%}
        <button>
            <a href="{% url 'Actualizar Libro'  Libros.id %}">Editar</a>
        </button>
        
        <button>
            <a href="{% url 'Eliminar Libro'  Libros.id %}">Eliminar</a>
        </button>
    
        {% endif %}

    {% endfor %}

    {% else %}
    
    <p> No hay nada todavía, ¿Querrías agregar algo? Vuelve a la pagina principal, ve a la sección de Agregar Libros y añade uno. </p>

    {% endif %}

    <br><br>
    <button>
        <a href='{% url 'Home' %}' >Volver a la pagina principal</a>
    </button>