<h1>Estos son mis juegos favoritos!</h1>

{% if Juegos.all %}

{% for Juegos in Juegos%}

    <p> 
        id: {{Juegos.id}} ;
        Nombre: {{Juegos.nombre}} ; Creador: {{Juegos.creador}} ; Genero: {{Juegos.genero}}</p>

        <button>
            <a href='{% url 'Eliminar Juego' juego_id=Juegos.id %}' >Eliminar</a>
        </button>

        <button>
            <a href='{% url 'Actualizar Juego' juego_id=Juegos.id %}' >Actualizar</a>
        </button>

{% endfor %}

{% else %}

        No hay nada todavía, ¿Querrías agregar algo? Vuelve a la pagina principal, ve a la sección de Agregar Juegos y añade uno.

{% endif %}

<button>
    <a href='{% url 'Home' %}' >Volver a la pagina principal</a>
</button>