<h1>Estos son mis series favoritas!</h1>

{% if Series.all %}

{% for Series in Series%}

    <p> 
        id: {{Series.id}} ;
        Nombre: {{Series.nombre}} ; Genero: {{Series.genero}}</p>

        <button>
            <a href='{% url 'Eliminar Serie' serie_id=Series.id %}' >Eliminar</a>
        </button>

        <button>
            <a href='{% url 'Actualizar Serie' serie_id=Series.id %}' >Actualizar</a>
        </button>

{% endfor %}

{% else %}

        No hay nada todavía, ¿Querrías agregar algo? Vuelve a la pagina principal, ve a la sección de Agregar Series y añade uno.

{% endif %}

<button>
    <a href='{% url 'Home' %}' >Volver a la pagina principal</a>
</button>